<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kolala PIC</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Tagesschrift&display=swap"
        rel="stylesheet">
</head>

<body
    style="font-family: Caveat, monospace; font-style: normal; background-color: #F1F0E8; border-radius: 25px; padding: 20px;">
    <section style="background-color: #B3C8CF; border-radius: 18px; width: 70%; margin: auto; padding-top: 20px;">
        <img style="margin: auto; display: block;" src="../../public/assets/imgs/logo.png" alt="logo">
        <div style="font-size: 18px;  padding: 25px;font-family: Tagesschrift, system-ui; color: #F1F0E8; text-align: center;" class="div">
            <h1 style="font-size: xx-large; text-align: center;">Welcome to our KOLALA PIC</h1>

            <p style="text-align: start;">Hello </p>
            <p style="text-align: start; margin-bottom: 50px;">We noticed you requested a password reset for your Kolala Pic account. No worries—it happens to the best
                of us! To create a new password, please click the button below:</p>
            <a href="[RESET_LINK]"
                style=" padding: 10px 20px; background-color: #688990; color: #F1F0E8; text-decoration: none; border-radius: 15px;">
                Reset My Password
            </a>
            <p style="text-align: start; margin-top: 50px;">If you didn't request a password reset, you can safely ignore this email.</p>
            <p style="text-align: start;"><strong style="color: #688990;">Tip:</strong> To avoid losing access in the future, consider saving your password in a secure
                password manager.</p>
            <p style="color: #688990; font-size:medium; text-align: center; font-weight: 600;">Thanks,  Rizk Ussef Rizk</p>
        </div>
    </section>
</body>

</html>